<div class="container About">
<div id="impress">
  <div class="step box" data-x="0" data-y="0">
      <h1>Tweedle</h1>
      <h3>Real time Analysis and Notification System</h3>
      <p>
        <small>Created by <a href="https://github.com/AishwaryaPSU">Aishwarya GM</a> / <a href="https://www.facebook.com/Aishwarya.G.M">Aishwarya</a></small>
      </p>
    </div>
  <div class="step box" data-x="0" data-y="1000">
    <h1>what is it ?</h1>
      <ul>
          <li> Real time system</li>
          <li> analysis engine</li>
          <li> notification engine</li>
      </ul>
  </div>
    <div class="step box" data-x="1000" data-y="1000">
        <h1>how does it work ?</h1>
        <p>magic!</p>
    </div>
    <div id="title" class="step" data-x="2500" data-y="2500" data-scale="4">
        <span class="try">then you should try me &hearts; </span>
        <h1>Megustas<sup> he he</sup></h1>
        <span class="footnote"><sup>*</sup> no pun intended</span>
    </div>
    <div class="step box" data-x="6500" data-y="2500" data-rotate="90" data-scale="2">
        <div class="container">
            <h1> How i reacted to annoying bugs </h1>
            <img src="../../assets/gifs/YxqTWRq.gif"/>
        </div>
    </div>
    <div id="big" class="step" data-x="7500" data-y="5500" data-rotate="180" data-scale="4">
        <p>Here comes the <b> Kafka </b> <p>and <b> Apache Storm </b> for the Rescue </p>
    </div>

    <div class="step" data-x="7500" data-y="2325" data-z="-3000" data-scale="1">
        <h1>and <b> here we go... </b></h1>
    </div>
</div>
</div>